# Shared
DB_USER=user
DB_PASSWORD=password
DB_HOST=localhost
DB_PORT=5432
KAFKA_HOST=localhost:9092

# Frontend
FRONT_URI=http://localhost:3002

# Auth service
AUTH_URI=http://localhost:3000
AUTH_PORT=3000
AUTH_DB_NAME=auth
AUTH_ST_URI=http://localhost:3567
AUTH_ST_GOOGLE_CLIENT=1060725074195-kmeum4crr01uirfl2op9kd5acmi9jutn.apps.googleusercontent.com
AUTH_ST_GOOGLE_SECRET=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
AUTH_ST_GITHUB_CLIENT=467101b197249757c71f
AUTH_ST_GITHUB_SECRET=e97051221f4b6426e8fe8d51486396703012f5bd

# Profiles service
PROFILES_URI=http://localhost:3001
PROFILES_PORT=3001
PROFILES_DB_NAME=profiles